.cecutient-block { font-size: 10pt; border: 1px solid #f2f2f2; width: 350px; box-sizing: border-box; background-color: #f9f9f9; margin-bottom: 30px; padding: 20px; height: 100px; }
.cecutient-block .cecutient-block-image {float: left; width: 25% }
.cecutient-block .cecutient-block-image i { color: #516fad; padding: 5px }
.cecutient-block .cecutient-block-content { float: left; width: 75% }
.cecutient-block .cecutient-block-content-link { margin-bottom: 10px }
.cecutient-block .cecutient-block-content-link span { color: #516fad; text-decoration: underline; cursor: pointer }
.cecutient-block .cecutient-block-content-fontsize { float: left;margin-right: 10px }
.cecutient-block .cecutient-block-content-fontsize span { margin-right: 10px; color: #000; text-decoration: underline; cursor: pointer }
.cecutient-block .cecutient-block-content-fontsize .size-small { font-size: 15px }
.cecutient-block .cecutient-block-content-fontsize .size-middle { font-size: 20px }
.cecutient-block .cecutient-block-content-fontsize .size-large { font-size: 25px }
.cecutient-block .cecutient-block-content-fontsize .fontsize-current { color: #516fad }
.cecutient-block .cecutient-block-content-background { margin-top: 13px; }
.cecutient-block .cecutient-block-content-background > span { border: 1px solid #ccc; padding:8px; margin-right: 5px; cursor: pointer; font-size: 85% }
.cecutient-block .cecutient-block-content-background .background-regular { background-color:#fff; color:#000 }
.cecutient-block .cecutient-block-content-background .background-contrast { background-color:#000; color:#fff }
.cecutient-block .cecutient-block-content-background .background-current { border: 2px solid #516fad }
.cecutient-block .cecutient-hidden { display: none }

.cecutient.fontsize-small { font-size: 150% }
.cecutient.fontsize-middle { font-size: 200% }
.cecutient.fontsize-large { font-size: 250% }

.cecutient.background-contrast .contrast { background: #000 !important }
.cecutient.background-contrast .contrast, .cecutient.background-contrast .contrast * { color: #fff !important; }

.cecutient.background-contrast .contrast .navbar-default { background-color: #000 !important; }
.cecutient.background-contrast .contrast .navbar-default .navbar-nav > li > a { color: #fff !important; }

.cecutient.background-contrast img {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}

.cecutient-block .margin-top-15 { margin-top: 15px !important; }