.cecutient-block {
	margin: 19px 0 0 -10px;
	width: 350px;
	box-sizing: border-box;
	font-size: 10pt;
	float: left;
}
.cecutient-block .cecutient-block-content {
	float: left;
	width: 75%;
}
.cecutient-block .cecutient-block-content-link span {
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
.cecutient-block .cecutient-block-content-fontsize {
	float: left;
	margin-right: 10px;
}
.cecutient-block .cecutient-block-content-fontsize span {
	margin-right: 10px;
	color: #000;
	text-decoration: underline;
	cursor: pointer;
}
.cecutient-block .cecutient-block-content-fontsize .size-small {
	font-size: 15px;
}
.cecutient-block .cecutient-block-content-fontsize .size-middle {
	font-size: 20px;
}
.cecutient-block .cecutient-block-content-fontsize .size-large {
	font-size: 25px;
}
.cecutient-block .cecutient-block-content-fontsize .fontsize-current {
	color: #ff4444;
}
.cecutient-block .cecutient-block-content-background {
	margin-top: 13px;
	display: none;
}
.cecutient-block .cecutient-block-content-background > span {
	border: 1px solid #ccc;
	padding: 8px;
	margin-right: 5px;
	cursor: pointer;
	font-size: 85%;
}
.cecutient-block .cecutient-block-content-background .background-regular {
	background-color: #fff;
	color: #000;
}
.cecutient-block .cecutient-block-content-background .background-contrast {
	background-color: #000;
	color: #fff;
}
.cecutient-block .cecutient-block-content-background .background-current {
	border: 2px solid #516fad;
}
.cecutient-block .cecutient-hidden {
	display: none;
}

.cecutient.background-contrast .contrast {
	background: #000 !important;
}
.cecutient.background-contrast .contrast,
.cecutient.background-contrast .contrast * {
	color: #fff !important;
}

.cecutient.background-contrast .contrast .navbar-default {
	background-color: #000 !important;
}
.cecutient.background-contrast .contrast .navbar-default .navbar-nav > li > a {
	color: #fff !important;
}

.cecutient.background-contrast img {
	-webkit-filter: grayscale(1);
	filter: grayscale(1);
}

.cecutient.fontsize-small {
}
.cecutient.fontsize-middle {
}
.cecutient.fontsize-large {
}



/* CSS */
.cecutient.fontsize-middle .prodItems .item .itemName {
	font-size: 23px;
	line-height: 24px;
	height: 90px;
}
.cecutient.fontsize-large .prodItems .item .itemName {
	font-size: 26px;
	line-height: 28px;
	height: 120px;
}
.cecutient .sli {
	height: 0 !important;
	border-bottom: solid 2px #555;
}

/* header */
.cecutient .header .topLine .topLineMenu .logo {
	display: none;
}
.cecutient .header .topLine .topLineMenu .logo-black {
	width: 376px;
	height: 70px;
	margin: -2px 24px 0 -90px;
	display: block;
}
.cecutient .header .topLine .topLineMenu .logo-black img {
	display: block;
}
.cecutient .header .topLine .topLineMenu .logo-black a {
	border: none;
}
.cecutient .header .topLine {
	background: none;
}
.cecutient .header .topLine .topLineMenu li {
	display: block;
	text-align: center;
	vertical-align: middle;
	float: left;
	margin: 0 18px 9px 0;
}
.cecutient .header .topLine .topLineMenu li a {
	font-size: 21px;
}
.cecutient .header .topLine .topLineMenu li a:hover {
	color: #ff0000;
	border-color: #ff0000;
}
.cecutient .header .hRight .addOrder {
	font-family: 'pf_din_text_cond_prolight';
	text-align: center;
	padding: 6px 0 8px 0;
	margin: 4px 1px 0 0;
	text-decoration: none;
	float: right;
	color: #000;
	font-size: 20px;
	display: block;
	width: 250px;
	border-radius: 5px;
	border: solid 1px #000000;
	background: none;
}
.cecutient .header .hRight .addOrder:hover {
	background: #eee;
}
.cecutient .header .hRight .headerPhone {
	color: #000;
	font-size: 26px;
	float: right;
}

.cecutient.fontsize-middle .header .hRight .headerPhone {
	font-size: 28px;
}
.cecutient.fontsize-large .header .hRight .headerPhone {
	font-size: 30px;
}
.cecutient.fontsize-middle .header .hRight .addOrder {
	font-size: 22px;
	width: 260px;
}
.cecutient.fontsize-large .header .hRight .addOrder {
	font-size: 24px;
	width: 280px;
}
.cecutient.fontsize-middle .header .hMiddle {
	height: 118px;
}
.cecutient.fontsize-large .header .hMiddle {
	height: 124px;
}